@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --accent-color: #f8d24e;
  /* Fonts */
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Seymour One", sans-serif;
  /* Text colors */
  --main-text-color: #fcfcfc;
  --secondary-text-color: #131313;
  /* BG colors */
  --main-bg-color: #84a178;
  --bg-ice-cream: #aec6a5;
  --bg-ice-coffee: #efd478;
  --bg-milkshakes: #d6936d;
  /* Others */
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  background-color: #fcfcfc;
  background-position: center;
  background-attachment: fixed;
  cursor: url(../images/cursor/cursor.svg), auto;
  background-image: url(../images/body-bg/mob/img_mob@1x.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body {
    background-image: url(../images/body-bg/mob/img_mob@2x.png);
  }
}
@media screen and (min-width: 481px) {
  body {
    background-image: url(../images/body-bg/tab/img_tab@1x.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/body-bg/tab/img_tab@2x.png);
  }
}
@media screen and (min-width: 769px) {
  body {
    background-image: url(../images/body-bg/desk/img_desk@1x.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/body-bg/desk/img_desk@2x.png);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
  min-width: 114px;
  min-height: 42px;
  padding: 9px 34px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  color: #000000;
  background-color: var(--accent-color);
}
.button:hover {
  background-color: #0a8817;
}
.button:focus {
  background-color: #0a8817;
  color: var(--main-text-color);
}
.button[disabled] {
  background-color: #ababab;
}
.button--transparent {
  background-color: transparent;
  border: 2px solid #f8d24e;
  padding: 9px 32px;
}
.button--transparent:hover {
  border-color: #0a8817;
  background-color: transparent;
}
.button--transparent:focus {
  outline-color: #0a8817;
  color: var(--main-text-color);
  background-color: transparent;
}
.button--transparent[disabled] {
  border-color: #ababab;
  background-color: transparent;
}
@media screen and (max-width: 1119px) {
  .button--transparent {
    min-width: 108px;
    min-height: 38px;
    padding: 9px 24px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 1.25;
  }
}

.button:focus .button__icon {
  fill: var(--main-text-color);
}

.advantages__container {
  background-color: var(--main-bg-color);
  text-align: center;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .advantages__container {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__container {
    padding-bottom: 80px;
  }
}

.advantages-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    gap: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    gap: 32px;
  }
}

.advantages-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages-list__item::before {
  content: " ";
  width: 50px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 50%;
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages-list__item::before {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__item::before {
    margin-bottom: 40px;
  }
}

.advantages-list__title {
  margin-bottom: 16px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0.04rem;
}
@media screen and (min-width: 768px) {
  .advantages-list__title {
    margin-bottom: 12px;
    font-size: 48px;
    line-height: 1.22;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__title {
    font-size: 58px;
  }
}

.advantages-list__item-cow::before {
  background-image: url(../images/advantages/cow.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item-cow::before {
    background-image: url(../images/advantages/cow2x.png);
  }
}
.advantages-list__item-weight::before {
  background-image: url(../images/advantages/weight.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item-weight::before {
    background-image: url(../images/advantages/weight2x.png);
  }
}
.advantages-list__item-ice::before {
  background-image: url(../images/advantages/ice.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item-ice::before {
    background-image: url(../images/advantages/ice2x.png);
  }
}
.advantages-list__text {
  margin: 0;
  text-align: center;
  max-width: 230px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .advantages-list__text {
    max-width: 152px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__text {
    max-width: 368px;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02rem;
  }
}

address {
  font-style: normal;
}

.contacts {
  font-weight: 500;
}

.contacts__container {
  padding-bottom: 16px;
  background-color: var(--main-bg-color);
}
@media screen and (min-width: 768px) {
  .contacts__container {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__container {
    padding-bottom: 120px;
  }
}

.contacts__wrap {
  padding: 40px 32px 24px 32px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__name {
  display: block;
  margin-right: auto;
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 22px;
  padding: 4px 22px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}

.contacts__town {
  margin-bottom: 8px;
  width: 190px;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
}

.contacts__location {
  display: block;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--bg-milkshakes);
}

.contacts__address {
  display: inline-block;
  margin-bottom: 24px;
}

.contacts__line {
  display: block;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__schedule {
  margin-bottom: 24px;
}

.contacts__week {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
}

.contacts__week:last-child {
  margin-bottom: 24px;
}

.contacts__week--color {
  display: block;
  color: #ababab;
  letter-spacing: 0em;
}

.contacts__item {
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--secondary-text-color);
}
.contacts__item:not(:last-child) {
  margin-bottom: 6px;
}/*# sourceMappingURL=index.css.map */