:root {
  --accent-color: #f8d24e;

  /* Fonts */
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Seymour One', sans-serif;

  /* Text colors */
  --main-text-color: #fcfcfc;
  --secondary-text-color: #131313;

  /* BG colors */
  --main-bg-color: #84a178;
  --bg-ice-cream: #aec6a5;
  --bg-ice-coffee: #efd478;
  --bg-milkshakes: #d6936d;

  /* Others */
}
