<section class="about" id="how-made">
  <div class="container about-container">
    <p class="title-label">tradition and love</p>
    <h2 class="title">how it’s made?</h2>
    <div class="about-field">
      <div class="about-wrapper">
        <div class="about-bgi">
          <div class="about-thumb"></div>
        </div>
      </div>

      <div class="about-part">
        <ul class="about-list">
          <li class="about-list-item">
            <p class="about-values">
              Ice is a place where you will become not only a little happier,
              but also healthier. Health is the main value for us, and we follow
              it when creating our handmade desserts.
            </p>
          </li>
          <li class="about-list-item">
            <p class="about-desc">
              We use traditional recipes and 100% natural ingredients. Our
              products are so natural that they can be given to children from
              the age of three years. Sweets lovers can expect 55 types of ice
              cream, 15 types of coffee and 23 milkshakes.
            </p>
          </li>
          <li class="about-list-item">
            <p class="about-output">
              This is enough to choose ice cream and coffee for any mood!
            </p>
          </li>
        </ul>
        <button type="button" class="about-button button" data-modal-open>
          Read more
          <svg width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
