<section class="about">
  <p class="title-label title-label--light">tradition and love</p>
  <h2 class="title about-title title--light">how it’s made?</h2>
  <div class="about-thumb">
    <img src="" alt="cow" width="279" height="278" />
  </div>
  <ul class="about-list list">
    <li class="about-list__item">
      <p class="about-desc about-desc--light">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </p>
    </li>
    <li class="about-list__item">
      <p class="about-desc about-desc--light">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </p>
    </li>
    <li class="about-list__item">
      <p class="about-desc about-desc--light">
        This is enough to choose ice cream and coffee for any mood!
      </p>
    </li>
  </ul>

  <button type="button" class="about-btn">Read more</button>
</section>
