<section class="advantages">
  <div class="container advantages__container">
    <h2 class="advantages__title">Our Advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-list__item">
        <h3 class="advantages-list__title advantages-list__title-cow">721</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <h3 class="advantages-list__title advantages-list__title-weight">
          16kg
        </h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <h3 class="advantages-list__title advantages-list__title-ice">84</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
