<!-- contacts -->

<section class="contacts" id="contact">
  <div class="contacts__container container">
    <h2 class="visually-hidden">contacts</h2>
    <ul class="contacts-card">
      <li class="contacts-card__item">
        <div class="contacts__wrap">
          <p class="contacts__name">CAFE</p>
          <div class="contacts__location contacts__line">
            <p class="contacts__town">Chicago</p>
            <a
              href="https://goo.gl/maps/xVopsymHAkpFid1L9"
              class="contacts__address"
            >
              10340 Ridgeland Ave,<br />
              Chicago Ridge, IL 60415, USA
            </a>
          </div>
          <ul class="contacts__schedule contacts__line">
            <li class="contacts__week">
              Monday- Friday
              <span class="contacts__week--color">06:00 AM - 10:00 PM</span>
            </li>
            <li class="contacts__week">
              Saturday- Sunday
              <span class="contacts__week--color">08:00 AM - 16:00 PM</span>
            </li>
          </ul>
          <ul class="contacts__list">
            <li class="contacts__item">
              <a href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="contacts__item">
              <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-card__item">
        <div class="contacts__wrap">
          <p class="contacts__name">FOODTRUCK</p>
          <div class="contacts__location contacts__line">
            <p class="contacts__town">Los Angeles</p>
            <a
              href="https://goo.gl/maps/2gqoxT84iJjaKoYt8"
              class="contacts__address"
            >
              1003 Manhattan Ave, <br />
              Manhattan Beach, CA 90263, USA
            </a>
          </div>
          <ul class="contacts__schedule contacts__line">
            <li class="contacts__week">
              Monday- Friday
              <span class="contacts__week--color">06:00 AM - 10:00 PM</span>
            </li>
            <li class="contacts__week">
              Saturday- Sunday
              <span class="contacts__week--color">08:00 AM - 16:00 PM</span>
            </li>
          </ul>
          <ul class="contacts__list">
            <li class="contacts__item">
              <a href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="contacts__item">
              <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-card__item">
        <div class="contacts__wrap">
          <p class="contacts__name">CAFE</p>
          <div class="contacts__location contacts__line">
            <p class="contacts__town">New York</p>
            <a
              href="https://goo.gl/maps/H82eEVS7MQm7eUi27"
              class="contacts__address"
            >
              726 Sterling Pl,<br />
              Brooklyn, NY 11222, USA
            </a>
          </div>

          <ul class="contacts__schedule contacts__line">
            <li class="contacts__week">
              Monday - Friday
              <span class="contacts__week--color">06:00 AM - 10:00 PM</span>
            </li>
            <li class="contacts__week">
              Saturday - Sunday
              <span class="contacts__week--color">08:00 AM - 16:00 PM</span>
            </li>
          </ul>
          <ul class="contacts__list">
            <li class="contacts__item">
              <a href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="contacts__item">
              <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="contacts__btn">
      <button
        class="button contacts__button"
        type="button"
        data-modal="location"
      >
        Our Locations
        <svg class="button__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button
        class="button button--transparent contacts__button"
        type="button"
        data-modal="franchise"
      >
        Franchise
        <svg class="button__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
