<!-- contacts -->

<section class="contacts">
  <div class="contacts__container container advantages__container">
    <h2 class="visually-hidden">contacts</h2>
    <address class="contacts__address">
      <div class="contacts__wrap">
        <a
          href="https://cafe.com"
          target="_blank"
          rel="noopener noreferrer"
          class="contacts__name link"
          >CAFE</a
        >

        <a
          href="https://goo.gl/maps/xVopsymHAkpFid1L9"
          class="contacts_location line link"
        >
          Chicago
          <span class="contacts__town"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</span
          >
        </a>
        <ul class="list line">
          <li class="contacts__week">
            Monday
            <span class="contacts__week--color"
              >- Friday 06:00 AM - 10:00 PM</span
            >
          </li>
          <li class="contacts__week">
            Saturday
            <span class="contacts__week--color"
              >- Sunday 08:00 AM - 16:00 PM</span
            >
          </li>
        </ul>
        <ul class="contacts__list list">
          <li class="contacts__item">
            <a href="tel:+610383766284" class="contacts__tel link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__mail link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </address>
  </div>
</section>
