<section class="customer-reviews">
  <div class="container reviews">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="swiper">

      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <img class="review__photo" srcset="
          ./images/reviews/review1@1x.jpg 1x,
          ./images/reviews/review1@2x.jpg 2x
          " src=./images/reviews/review1@1x.jpg alt="photo" width="85" height="85">
          <p class="review__text">
            I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you
            have
            beautiful serving, cozy atmosphere and polite staff.
          </p>
          <p class="review__writter">Emily, Los Angeles</p>
        </div>

        <div class="swiper-slide">
          <img class="review__photo" srcset="
            ./images/reviews/review3@1x.jpg 1x,
            ./images/reviews/review3@2x.jpg 2x
            " src=./images/reviews/review3@1x.jpg alt="photo" width="85" height="85">
          <p class="review__text">
            Every day we come to you with friends after classes in college. We love your ice cream and casual
            atmosphere!
          </p>
          <p class="review__writter">Bryan, New-York</p>

        </div>

        <div class="swiper-slide">
          <img class="review__photo" srcset="
                          ./images/reviews/review2@1x.jpg 1x,
                          ./images/reviews/review2@2x.jpg 2x
                          " src=./images/reviews/review2@1x.jpg alt="photo" width="85" height="85">
          <p class="review__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent
            service
            -
            always served politely and quickly!
          </p>
          <p class="review__writter">Diana, Chicago</p>
        </div>

      </div>

      <div class="swiper-pagination"></div>

    </div>
  </div>
</section>