<footer class="footer container">
  <div class="section footer__ice">
    <div class="header">
      <p class="header__over">homemade ice cream made</p>
      <p class="header__under">with passion</p>
    </div>

    <div>
      <ul class="socials">
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://github.com/"
            target="_blank"
            rel="nooper noreferrer"
            aria-label="Github icon"
          >
            <svg class="socials__icon footer__social" width="20" height="20">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="nooper noreferrer"
            aria-label="Telegram icon"
          >
            <svg class="socials__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="nooper noreferrer"
            aria-label="Facebook icon"
          >
            <svg class="socials__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a href="tel:+380961111111" class="contact__footer"
        ><span class="contact">Feel free to contact</span> +61 (0) 383 766
        284</a
      >
    </div>
  </div>
  <div class="line"></div>

  <div class="copyright__item">
    <p class="copyright">© 2022 - IceCream.</p>
    <p class="copyright">All Rights Reserved.</p>
  </div>
  <!-- <div class="line__desktop"></div> -->
</footer>
