<footer style="background-color: var(--main-bg-color)" class="container footer">
  <div class="section footer__ice">
    <div class="header">
      <p class="header__over">homemade ice cream made</p>
      <p class="header__ander">with passion</p>
    </div>

    <div>
      <ul class="socials">
        <li class="socials__item">
          <a
            class="socials__link"
            href="htpps://github.com"
            target="_blank"
            rel="nooper noreferrer"
            aria-label="Github icon"
          >
            <svg class="socials__icon footer__social" width="20" height="20">
              <use href="./images/footor_svg/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="htpps://instagram.com"
            target="_blank"
            rel="nooper noreferrer"
            aria-label="Telegram icon"
          >
            <svg class="socials__icon" width="20" height="20">
              <use
                href="./images/footor_svg/symbol-defs.svg#icon-telegram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="htpps://instagram.com"
            target="htpps://facebook.com"
            rel="nooper noreferrer"
            aria-label="Facebook icon"
          >
            <svg class="socials__icon" width="20" height="20">
              <use
                href="./images/footor_svg/symbol-defs.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
      <a href="tel:+380961111111" class="contact__footer"
        ><span class="contact">Feel free to contact</span>+61 (0) 383 766 284</a
      >
    </div>
  </div>

  <div class="line"></div>
  <p></p>
  <p class="copyright">© 2022 - IceCream.All Rights Reserved.</p>
</footer>
