<section class="hero">
  <div class="hero__overlay container">
    <div class="hero-title-block">
      <h1 class="hero__title">ice cream made with passion</h1>
      <div class="button-block">
        <button
          type="button"
          class="button button--transparent"
          data-modal-open
        >
          Products
        </button>
        <button
          type="button"
          class="button button--transparent"
          data-modal-open
        >
          How it’s made?
        </button>
      </div>
    </div>
    <div class="lot-block">
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
        <!-- <img class="arrow" src="./images/Icecream_header/arrow.png" alt="" /> -->
      </p>
    </div>
    <div>
      <ul class="hero-progress">
        <li class="progress-item">16</li>
        <li class="progress-item">cafes</li>
        <li class="progress-item">23</li>
        <li class="progress-item">food trucks</li>
      </ul>
    </div>
    <!-- <img src="./images/Icecream_header/point_desctop.png" alt="" /> -->
    <!-- <img
      class="icecream"
      src="./images/Icecream_header/icecream_desktop.png"
      alt=""
    />
    <img -->
    <!-- class="lot_icecream" src="./images/Icecream_header/lot_icecream_desktop.png"
    alt="" /> 
  </div>
</section>
