<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="mobile-menu__container">
    <a class="logo link" href="./index.html" aria-label="Logo">
      <svg class="logo__icon" width="40" height="38">
        <use href="./images/mobile-icon/logo.png"></use>
      </svg>
    </a>
    <button type="button" class="mobile-menu__close js-close-menu">
      <svg
        class="mobile-menu__icon"
        width="32"
        height="32"
        aria-label="Закриття мoбільного меню"
      >
        <use
          href="./images/icons.svg#icon-close"
          class="mobile-menu__close"
        ></use>
      </svg>
    </button>
    <div class="mobile-menu__flex">
      <ul class="mobile-menu__list list">
        <li class="mobile-menu__item">Home</li>
        <li class="mobile-menu__item">How it’s made?</li>
        <li class="mobile-menu__item">Our products</li>
        <li class="mobile-menu__item">Contact</li>
      </ul>
      <button type="submit" class="mobile-menu__last-button">
        Buy now
        <span class="mobile-menu__last-button-special-symbol">&#62;</span>
      </button>
    </div>
  </div>
</div>
