<div class="mobile-menu js-menu-container js-open-menu" id="mobile-menu">
  <div class="mobile-menu__container">
    <button type="button" class="mobile-menu__close js-close-menu">
      <svg
        class="mobile-menu__icon"
        width="32"
        height="32"
        aria-label="Закриття мoбільного меню"
      >
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="mobile-menu__flex">
      <a class="mobile-menu__logo" href="./index.html" aria-label="Logo">
        <picture>
          <source
            srcset="
              ./images/mobile-icon/logo.png   1x,
              ./images/mobile-icon/logo2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/mobile-icon/logo.png"
            alt="Logo"
            width="44px"
            height="48px"
          />
        </picture>
      </a>
      <ul class="mobile-menu__list list">
        <li class="mobile-menu__item modal-menu__link">
          <a href="./index.html">Home</a>
        </li>
        <li class="mobile-menu__item modal-menu__link">
          <a href="#how-made">How it’s made?</a>
        </li>
        <li class="mobile-menu__item modal-menu__link">
          <a href="#our-products">Our products</a>
        </li>
        <li class="mobile-menu__item modal-menu__link">
          <a href="#contact">Contact</a>
        </li>
      </ul>
      <button
        type="button"
        class="js-open-modal button mobile-menu__button"
        data-modal="buynow"
      >
        Buy now
        <svg class="button__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
