<div class="backdrop-location is-hidden" data-modal>
    <div class="modal-location">
        <button class="modal-location-close" type="button" data-modal-close>
            <svg class="modal-location-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <strong class="modal-location-label">Our Locations</strong>
        <div class="map">
            <picture>
                <source media="(min-width: 768px)" 
                srcset="./images/contacts-modal/dt@1x.jpg 1x, ./images/contacts-modal/dt@2x.jpg 2x">
                <source media="(max-width: 767px)" 
                srcset="./images/contacts-modal/m@1x.jpg 1x, ./images/contacts-modal/m@2x.jpg 2x">
                <img
                src="./images/contacts-modal/dt@1x.jpg"
                alt="Map"
                />
            </picture>   
        </div>
        <form >
            <button class="button modal-location-open" type="submit" formaction="https://www.google.com.ua/maps/@49.6000297,34.5328674,12.88z?hl=ru">Open map</button>
        </form>
    </div>
</div>
