<div class="modal-container modal" data-modal="3">
  <div class="backdrop">
    <div class="modal__about">
      <h2 class="modal-about__title">Choсolate icecream</h2>

      <div class="modal-about__img">
        <img
          src="./images/modal-about-products/icecream-modal.png"
          alt="icecream"
          width="132px"
          height="132px"
        />
      </div>

      <div class="modal-about__energy">
        <ul class="modal-about__energy--list list">
          <li class="modal-about__energy--item">
            <p class="modal-about__energy--value">320</p>
            <p class="modal-about__energy--name">kcal</p>
          </li>

          <li class="modal-about__energy--item">
            <p class="modal-about__energy--value">4g</p>
            <p class="modal-about__energy--name">Protein...</p>
          </li>

          <li class="modal-about__energy--item">
            <p class="modal-about__energy--value">8,2g</p>
            <p class="modal-about__energy--name">Fats</p>
          </li>

          <li class="modal-about__energy--item">
            <p class="modal-about__energy--value">40,4g</p>
            <p class="modal-about__energy--name">Carbs</p>
          </li>
        </ul>
      </div>

      <div>
        <p class="modal-about__ingredients">Ingredients</p>
        <ul class="modal-about__ingredients-list list">
          <li class="modal-about__ingredients-item">
            <p>Milk</p>
            <p>100ml</p>
          </li>

          <li class="modal-about__ingredients-item">
            <p>Belgian chocolate</p>
            <p>20g</p>
          </li>

          <li class="modal-about__ingredients-item">
            <p>Cream</p>
            <p>150ml</p>
          </li>

          <li class="modal-about__ingredients-item">
            <p>Cocoa powder</p>
            <p>30g</p>
          </li>

          <li class="modal-about__ingredients-item">
            <p>Sugar</p>
            <p>40g</p>
          </li>

          <li class="modal-about__ingredients-item">
            <p>Vanilla sugar</p>
            <p>10g</p>
          </li>
        </ul>
      </div>
      <form autocomplete="on">
        <div class="modal-about__form-field">
          <label for="name" class="modal-about__form-label"></label>

          <div class="modal-about__form-group">
            <input
              type="text"
              class="modal-about__form-input"
              name="name"
              id="name"
              placeholder="Name"
            />
          </div>

          <label for="tel" class="modal-about__form-label"></label>
          <div class="modal-about__form-group">
            <input
              type="tel"
              class="modal-about__form-input"
              name="tel"
              id="tel"
              placeholder="Phone"
            />
          </div>

          <label for="comment" class="modal-about__form-label"></label>
          <div class="modal-about__form-group">
            <textarea
              class="modal-about__form-input"
              name="comment"
              id="comment"
              rows="10"
              placeholder="Comment"
            ></textarea>
          </div>
        </div>

        <button type="submit" class="button modal-about__submit-button">
          Submit
        </button>
      </form>

      <div class="close">
        <button type="button" class="modal-about__close-button js-modal-close">
          <svg class="modal-about__close-logo" width="24" height="24">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
