.about {
  padding: 61px 0 50px;

  background-color: #84a178;

  font-family: Montserrat, sans-serif;
}

@media screen and (min-width: 768px) {
  .about {
    padding: 60px 0;
  }
}

.title-label {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);

  text-align: center;
  text-transform: uppercase;
}

.title-label--light {
  color: #fcfcfc;
}

.title {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.about-title {
  max-width: 200px;
  margin: 0 auto 32px;
}

.title--light {
  color: #fcfcfc;
}

.about-thumb {
  position: relative;

  width: 279px;
  height: 278px;
  margin: 0 auto 62px;

  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;
}

.about-list {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.about-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 162%;

  text-align: center;
}

.about-desc--light {
  color: #fcfcfc;
}

.about-list__item:not(:last-child) {
  margin-bottom: 4px;
}

.about-btn {
  display: flex;
  margin: 0 auto;
}
