.about {
  padding: 61px 0 50px;

  background-color: #84a178;

  @media screen and (min-width: 768px) {
    padding: 60px 0 86px;
  }

  @media screen and (min-width: 1200px) {
    padding: 60px 0 99px;
  }
}

// .about-container {
//   background-color: #84a178;
// }

.title-label {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);

  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-weight: 800;
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.title {
  font-family: var(--secondary-font);
  //   font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);

  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: calc(43 / 34);
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(45 / 36);
  }
}

.about-title {
  @media screen and (max-width: 767.98px) {
    max-width: 200px;
  }

  margin: 0 auto 32px;
}

.about-field {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: baseline;
    gap: 38px;
  }

  @media screen and (min-width: 1200px) {
    gap: 109px;
  }
}

.about-bgi {
  position: relative;

  width: 279px;
  height: 278px;

  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;

  @media screen and (max-width: 767.98px) {
    margin: 0 auto 62px;
  }

  @media screen and (min-width: 768px) {
    width: 330px;
    height: 330px;

    border-radius: 165px;
  }

  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;

    border-radius: 250px;
  }
}

.about-thumb {
  position: absolute;
  top: 22px;
  left: 0;

  border-radius: 140px;

  overflow: hidden;

  @media screen and (min-width: 768px) {
    top: 26px;

    border-radius: 165px;
  }

  @media screen and (min-width: 1200px) {
    top: 39px;

    border-radius: 250px;
  }
}

.about-part {
  @media screen and (min-width: 768px) {
    flex-basis: 334px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: 463px;
  }
}

.about-list {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  font-size: 12px;

  @media screen and (max-width: 767.98px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    max-width: 334px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 463px;
    margin-bottom: 54px;
  }
}

.about-values {
  line-height: 176%;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.about-desc {
  line-height: 162%;

  @media screen and (min-width: 768px) {
    line-height: 176%;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 194%;
  }
}

.about-output {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  line-height: 194%;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.about-list__item:not(:last-child) {
  margin-bottom: 4px;
}

.about-button {
  width: 164px;

  @media screen and (max-width: 767.98px) {
    margin: 0 auto;
  }
}
