// contacts

.contacts {
  font-weight: 500;
}

.contacts__container {
  padding-bottom: 20px;
  background-image: linear-gradient(
    to bottom,
    transparent 25%,
    var(--main-bg-color) 25%,
    var(--main-bg-color) 55%
  );

  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
    background-image: linear-gradient(
      to bottom,
      transparent 45%,
      var(--main-bg-color) 45%,
      var(--main-bg-color) 55%
    );
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 120px;
    background-image: linear-gradient(
      to bottom,
      transparent 16%,
      var(--main-bg-color) 16%,
      var(--main-bg-color) 55%
    );
  }
}

.contacts__wrap {
  padding: 40px 32px 24px 32px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    padding: 40px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 40px;
  }
}

.contacts__name {
  margin-right: auto;
  margin-bottom: 20px;

  width: fit-content;
  padding: 4px 22px;

  @include font(12px, 1.17, 0.04em);

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    @include font(16px, 1.4, 0.04em);
    padding: 4px 13px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
    @include font(16px, 1.4, 0.04em);
    padding: 4px 14px;
  }

  align-items: center;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}

.contacts__town {
  margin-bottom: 8px;
  @include font(12px, 1.83, 0.04em);

  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
    @include font(14px, 1.83, 0.04em);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 8px;
    @include font(16px, 1.83, 0.04em);
  }

  color: var(--secondary-text-color);
}

.contacts__location {
  display: block;
  margin-bottom: 24px;

  @include font(12px, 1.83, 0.03em);

  @media screen and (min-width: 768px) {
    @include font(14px, 1.83, 0.03em);
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    @include font(16px, 1.83, 0.03em);
  }

  color: var(--bg-milkshakes);
}

.contacts__address {
  display: inline-block;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.contacts__line {
  display: block;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__schedule {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.contacts__week {
  margin-bottom: 8px;
  @include font(12px, 1.83, 0.04em);
  @media screen and (min-width: 768px) {
    @include font(14px, 1.83, 0.04em);
  }

  @media screen and (min-width: 1200px) {
    @include font(16px, 1.83, 0.04em);
    margin-bottom: 12px;
  }

  color: var(--secondary-text-color);

  &:last-child {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }
}

.contacts__week--color {
  display: block;
  color: #ababab;
  letter-spacing: 0em;
}

.contacts__item {
  @include font(12px, 1.6, 0);

  @media screen and (min-width: 768px) {
    @include font(14px, 1.5, 0);
  }

  @media screen and (min-width: 1200px) {
    @include font(16px, 1.5, 0);
  }

  color: var(--secondary-text-color);
  &:not(:last-child) {
    margin-bottom: 6px;

    @media screen and (min-width: 768px) {
      margin-bottom: 4px;
    }
  }
}

.contacts-button {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }

  gap: 16px;
}

.contacts-button--width {
  width: 192px;
}

.contacts-card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
    --indent: 32px;
  }
}

.contacts-card-set__item {
  flex-basis: calc(
    (100% - var(--indent) * (var(--items) - 1)) / (var(--items))
  );

  --items: 1;

  @media screen and (min-width: 768px) {
    --items: 3;
  }
}
