.gallery {
  max-width: 100%;
}

.container.gallery__bg {
  padding: 0 20px;

  background-image: linear-gradient(to bottom, #84a178 25%, transparent 25%);

  @media screen and (min-width: 768px) {
    padding: 0 32px;

    background-image: linear-gradient(to bottom, #84a178 44%, transparent 44%);
  }

  @media screen and (min-width: 1200px) {
    padding: 0 93px;

    background-image: linear-gradient(to bottom, #84a178 23%, transparent 23%);
  }
}

.gallery__list {
  position: relative;
  height: 130px;
  width: 100%;
  margin: 0 auto;

  background-color: var(--main-text-color);
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    height: 327px;
    width: 704px;

    border-radius: 18px;
  }

  @media screen and (min-width: 1200px) {
    height: 422px;
    width: 1013px;

    border-radius: 24px;
  }
}

.gallery_item {
  position: absolute;
  left: 0;

  animation-name: galleryAnimation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;

  &:nth-child(1) {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    animation-delay: 4s;
  }

  &:nth-child(3) {
    animation-delay: 8s;
  }
}

.gallery__img {
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    border-radius: 18px;
  }

  @media screen and (min-width: 1200px) {
    border-radius: 24px;
  }
}
