.header__container {
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.logo {
  margin-right: auto;
}

.nav {
  display: flex;
  gap: 28px;
  margin-right: 204px;

  @media screen and (max-width: 1199.98px) {
    display: none;
  }
}
.nav__link {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);

  padding-top: 32px;
  padding-bottom: 13px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__button {
  position: relative;
  min-width: 152px;
  min-height: 42px;
  overflow: hidden;

  @media screen and (max-width: 767.98px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    align-self: flex-end;
  }
}
.header__button:before {
  content: '';
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;

  background: linear-gradient(
    to left,
    transparent 0%,
    #fff 40%,
    #fff 60%,
    transparent 100%
  );
  transform: translate(-100%, -25%) rotate(-25deg);
  animation: blick 7s infinite;
}

.header__burger {
  border: none;
  background-color: transparent;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 17px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.burger__icon {
  fill: #ffffff;
}

.back-scroll {
  width: 50;
  height: 50;
  border-radius: 50%;
  border-bottom: 1px;
  background-color: rgba(248, 210, 78, 0.5);
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 50vh;
  right: 16px;
  cursor: pointer;
  color: var(--main-bg-color);
  font-size: 30px;
  z-index: 998;
}

// animation
@keyframes blick {
  0% {
    transform: translate(-110%, 50%) rotate(40deg);
  }
  20% {
    transform: translate(110%, -50%) rotate(40deg);
  }
  100% {
    transform: translate(110%, -50%) rotate(40deg);
  }
}
