.hero__overlay {
  position: relative;
  padding-top: 50px;
  padding-bottom: 236px;
  background: var(--main-bg-color);
  background-image: url(../images/hero/mobile_point@1x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/tablet_point@1x.png);
    padding-bottom: 40px;
    background-size: 100%;
    padding-top: 4px;
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/hero/desktop_point@1x.png);
    padding-top: 37px;
    padding-bottom: 120px;
    background-size: 100%;
  }
}
.hero__title {
  max-width: 247px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 26px;
  line-height: calc(33 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    max-width: 367px;
    font-family: var(--secondary-font);
    font-size: 38px;
    line-height: calc(48 / 38);
  }
}

.hero-title-block {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 39px;

  @media screen and (min-width: 768px) {
    margin-bottom: 109px;
    gap: 24px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 109px;
    gap: 28px;
  }
}

.button-block {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.button--transparent-link {
  background-color: transparent;
  color: var(--accent-color);
  text-decoration: underline;

  &:hover {
    color: #0a8817;
    background-color: transparent;
  }
  &:focus {
    color: var(--main-text-color);
    background-color: transparent;
  }
  &[disabled] {
    color: #ababab;
  }
  @media screen and (max-width: 1199.98px) {
    min-width: 108px;
    min-height: 38px;
    padding: 9px 22px;
    border-radius: 8px;

    font-size: 12px;
    line-height: calc(15 / 12);
  }
}

.lot-block {
  position: relative;
  width: 330px;

  @media screen and (min-width: 1200px) {
    width: 458px;
  }

  &__icecream {
    animation: spin 60s linear 0s infinite;
    position: absolute;
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      left: 0;
      bottom: -20px;
    }
    @media screen and (min-width: 1200px) {
      left: 0;
      bottom: -55px;
    }
    &:hover {
      animation: spin 3s linear 0s infinite;
    }
    &:active {
      animation: spin 1s linear 0s infinite;
    }
  }

  &__description {
    position: relative;
    font-weight: 400;
    display: none;
    &:hover &-arrow {
      transform: scale(1.1);
    }

    @media screen and (min-width: 768px) {
      display: block;
      font-size: 12px;
      line-height: 140%;
      padding-left: 180px;
      padding-bottom: 12px;
    }

    @media screen and (min-width: 1200px) {
      padding-left: 240px;
      padding-bottom: 24px;
      font-size: 14px;
    }
    &-arrow {
      position: absolute;
      fill: var(--main-text-color);
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
        top: 98px;
        left: 180px;
      }
      @media screen and (min-width: 1200px) {
        top: 100px;
        left: 240px;
      }
    }
  }
}

.point-sale {
  position: absolute;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    top: 28px;
    right: 32px;
    &__item:nth-child(2n + 1) {
      font-weight: 900;
      font-size: 28px;
      line-height: calc(34 / 28);
      text-align: right;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--secondary-text-color);
      margin-bottom: 4px;
    }
    &__item:nth-child(2n) {
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: calc(10 / 8);
      text-align: right;
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 1200px) {
    top: 53px;
    right: 16px;
    &__item:nth-child(2n + 1) {
      font-weight: 900;
      font-size: 46px;
      line-height: calc(56 / 46);
      letter-spacing: 0.04em;
      color: var(--secondary-text-color);
    }
    &__item:nth-child(2n) {
      font-size: 14px;
      line-height: calc(17 / 14);
      margin-bottom: 16px;
    }
  }
}
.icecream {
  position: absolute;
  bottom: 0;
  @media screen and (max-width: 767px) {
    transform: translateX(50%);
    right: 46%;
  }

  @media screen and (min-width: 768px) {
    right: 92px;
  }

  &:hover {
    transform: scale(1.05);
    animation: shake 0.3s linear infinite;
  }
}

summary {
  list-style: none;
}
.detail {
  display: none;
  position: absolute;
  width: 180px;
  @media screen and (min-width: 768px) {
    display: block;
    font-size: 12px;
    line-height: 140%;
    left: 225px;
  }
  @media screen and (min-width: 1200px) {
    left: 285px;
  }
}
// animation
@keyframes shake {
  0% {
    transform: translate(0px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg) scale(1.02);
  }
  20% {
    transform: translate(-2px, -1px) rotate(1deg) scale(1.01);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg) scale(1.02);
  }
  40% {
    transform: translate(1px, 0px) rotate(1deg) scale(1.01);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-1deg) scale(1.02);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg) scale(1.01);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg) scale(1.01);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg) scale(1.02);
  }
  90% {
    transform: translate(1px, 0px) rotate(0deg) scale(1.01);
  }
  100% {
    transform: translate(1px, 0px) rotate(-1deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
