.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #85a279;

  transform: translateX(-100%);
  @include transition(transform);

  overflow-y: scroll;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__container {
  position: relative;

  height: 100vh;

  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767.98px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }
}

.mobile-menu__close {
  position: absolute;
  top: 16px;
  right: 20px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: var(--main-bg-color);
  border: none;

  fill: var(--main-text-color);
  @include transition(fill);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    outline: none;
  }

  @media screen and (min-width: 768px) {
    top: 32px;
    right: 32px;
  }
}

.mobile-menu__logo {
  width: 38px;
  height: 40px;

  margin-bottom: 51px;

  @media screen and (min-width: 768px) {
    margin-bottom: 76px;
    width: 44px;
    height: 48px;
  }
}

// .logo__image {
//   width: 38px;
//   height: 40px;

//   @media screen and (min-width: 768px) {
//     width: 44px;
//     height: 48px;
//   }
// }

.mobile-menu__flex {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 12px 32px 64px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;

  margin-bottom: auto;

  @media screen and (min-width: 768px) {
    gap: 40px;
  }
}

.mobile-menu__item {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;

  color: #fcfcfc;
  @include transition(color);

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @include transition(color);

  &:hover,
  &:focus {
    color: #131313;
  }
}

.mobile-menu__button {
  margin-left: auto;
  margin-right: auto;
  width: 152px;
}

// .mobile-menu__button {
//   display: inline-block;

//   margin: 0 auto;

//   border: none;
//   max-width: 152px;
//   padding: 12px 36px;
//   border: none;
//   border-radius: 10px;

//   font-weight: 600;
//   font-size: 14px;
//   line-height: 1.21;
//   color: #000000;
//   background-color: #f8d24e;
//   cursor: pointer;

//   &:hover {
//     background-color: #0a8817;
//   }

//   &:focus {
//     background-color: #0a8817;
//     color: #ffffff;
//   }

//   &[disabled] {
//     background-color: #ababab;
//   }

//   @media screen and (min-width: 768px) {
//     display: none;
//   }
// }

// .mobile-menu__last-button-special-symbol {
//   margin-left: 4px;
// }
